@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --navy: #0b0059;
  --gold: #eaca73;
  --gold-dark: #b88f4a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--navy);
  --color-gold: var(--gold);
  --color-gold-dark: var(--gold-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cinzel: var(--font-cinzel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c25;
    --foreground: #eaeaea;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
